<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html  xmlns:th="http://www.thymeleaf.org">

    <html>
    <head>
        <title>Calendario</title>
        <link rel='stylesheet' href='http://codepen.io/assets/libs/fullpage/jquery-ui.css'>
        <link  href="../static/css/calendario.css" th:href="@{/css/calendario.css}"
               rel="stylesheet" media="screen" type="text/css" />
        <script type="text/javascript" src="../static/css/calendario.js" th:src="@{'/css/calendario.js' }"></script>
        <link rel="shortcut icon" type="image/png" href="../static/css/images/icon.png" th:href="@{'/css/images/icon.png' }"/>
        <a href="inicio"><img id="foto3" src="../static/css/images/home.png" th:src="@{'/css/images/home.png'}" /></a>


    </head>
<body>
<h1>Calendario de Citas Médicas</h1>


<br/><br/>
<dialog id="message">
    Citas del dia

    <ol>
        <li th:each="fila: ${citas}" th:text="${fila.getAsunto()+ ' ' +fila.getHora()+ ' ' +fila.getFecha()+ ' ' +fila.getDoctor()}"  ></li>
    </ol>

    <button id="close" onclick="document.getElementById('message').close()">Cerrar</button>
</dialog>
<div id="calendario">
    <div id="anterior" onclick="mesantes()"></div>
    <div id="posterior" onclick="mesdespues()"></div>
    <h2 id="titulos"></h2>
    <table id="diasc">
        <tr id="fila0"><th></th><th></th><th></th><th></th><th></th><th></th><th></th></tr>
        <tr id="fila1">
            <td onclick="document.getElementById('message').show()"></td>
            <td onclick="document.getElementById('message').show()"></td>
            <td onclick="document.getElementById('message').show()"></td>
            <td onclick="document.getElementById('message').show()"></td>
            <td onclick="document.getElementById('message').show()"></td>
            <td onclick="document.getElementById('message').show()"></td>
            <td onclick="document.getElementById('message').show()"></td>
        </tr>
        <tr id="fila2">
            <td onclick="document.getElementById('message').show()"></td>
            <td onclick="document.getElementById('message').show()"></td>
            <td onclick="document.getElementById('message').show()"></td>
            <td onclick="document.getElementById('message').show()"></td>
            <td onclick="document.getElementById('message').show()"></td>
            <td onclick="document.getElementById('message').show()"></td>
            <td onclick="document.getElementById('message').show()"></td>
        </tr>
        <tr id="fila3">
            <td onclick="document.getElementById('message').show()"></td>
            <td onclick="document.getElementById('message').show()"></td>
            <td onclick="document.getElementById('message').show()"></td>
            <td onclick="document.getElementById('message').show()"></td>
            <td onclick="document.getElementById('message').show()"></td>
            <td onclick="document.getElementById('message').show()"></td>
            <td onclick="document.getElementById('message').show()"></td>
        </tr>
        <tr id="fila4">
            <td onclick="document.getElementById('message').show()"></td>
            <td onclick="document.getElementById('message').show()"></td>
            <td onclick="document.getElementById('message').show()"></td>
            <td onclick="document.getElementById('message').show()"></td>
            <td onclick="document.getElementById('message').show()"></td>
            <td onclick="document.getElementById('message').show()"></td>
            <td onclick="document.getElementById('message').show()"></td>
        </tr>
        <tr id="fila5">
            <td onclick="document.getElementById('message').show()"></td>
            <td onclick="document.getElementById('message').show()"></td>
            <td onclick="document.getElementById('message').show()"></td>
            <td onclick="document.getElementById('message').show()"></td>
            <td onclick="document.getElementById('message').show()"></td>
            <td onclick="document.getElementById('message').show()"></td>
            <td onclick="document.getElementById('message').show()"></td>
        </tr>
        <tr id="fila6">
            <td onclick="document.getElementById('message').show()"></td>
            <td onclick="document.getElementById('message').show()"></td>
            <td onclick="document.getElementById('message').show()"></td>
            <td onclick="document.getElementById('message').show()"></td>
            <td onclick="document.getElementById('message').show()"></td>
            <td onclick="document.getElementById('message').show()"></td>
            <td onclick="document.getElementById('message').show()"></td>
        </tr>
    </table>
    <div id="fechaactual"><i onclick="actualizar()"></i></div>
    <div id="buscafecha">
        <form action="#" name="buscar">
            <p>Buscar
                <select name="buscames">
                    <option value="0">Enero</option>
                    <option value="1">Febrero</option>
                    <option value="2">Marzo</option>
                    <option value="3">Abril</option>
                    <option value="4">Mayo</option>
                    <option value="5">Junio</option>
                    <option value="6">Julio</option>
                    <option value="7">Agosto</option>
                    <option value="8">Septiembre</option>
                    <option value="9">Octubre</option>
                    <option value="10">Noviembre</option>
                    <option value="11">Diciembre</option>
                </select>

                <input type="text" name="buscaanno" maxlength="4" size="4" />

                <input id="boton" type="button" value="BUSCAR" onclick="mifecha()" />
            </p>

        </form>
    </div>
</div>
</body>
</html>