<!DOCTYPE html>
<html  xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Cita Médica</title>

    <link rel='stylesheet' href='http://codepen.io/assets/libs/fullpage/jquery-ui.css'>
    <link  href="../static/css/style.css" th:href="@{/css/style.css}"
           rel="stylesheet" media="screen" type="text/css" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" type="image/png" href="../static/css/images/icon.png" th:href="@{'/css/images/icon.png' }"/>

    <meta charset="UTF-8">
    <meta http-equiv="Expires" content="0">
    <meta http-equiv="Last-Modified" content="0">
    <meta http-equiv="Cache-Control" content="no-cache, mustrevalidate">
    <meta http-equiv="Pragma" content="no-cache">
</head>
<body>

<img id="foto" src="/css/Images/portada.jpg" th:src="@{'/css/Images/portada.jpg' }" />

<h1>Cita Médica</h1>
<a href="calendario"><img id="foto2" src="/css/Images/calen.png" th:src="@{'/css/Images/calen.png'}" /></a>

<form action="/add" method="post">
    <fieldset>
        <legend>Datos</legend>
        <p>
            <label>Asunto:</label>
            <input type = "text"
                   id = "asunto" name="asunto" required />
        </p>

        <p>
            <label for="appt">Hora:</label>

            <input type="time" id="appt" name="hora" value="00:00"
                   required ><span class="note"></span>

        </p>
        <label for="meeting">Fecha : </label><input id="meeting" type="date"  name="fecha"/>

        <p>Doctor:
            <select name="doctores">
                <option value="doc1" >Dr. Derek Shepherd</option>
                <option value="doc2" >Dra. Meredith Grey </option>
                <option value="doc3" >Dra. Cristina Yang</option>
                <option value="doc4">Dra. Callie Torres</option>

            </select>
            <br><br>
        <p><input type="submit" value="Agendar Cita" id="boton"></p>
    </fieldset>
</form>

</body>
</html>